body{
    min-width: 1240px;
}

.loading{
    position:absolute;
    top: 50%;
    left: 50%;
}
.loading:before{
    width:20px;
    height:20px;
    border-radius:20px;
    background:blue;
    content:'';
    position:absolute;
    background:#9b59b6;
    animation: preloader_3_before 1.5s infinite ease-in-out;
}

.loading:after{
    width:20px;
    height:20px;
    border-radius:20px;
    background:blue;
    content:'';
    position:absolute;
    background:#2ecc71;
    left:22px;
    animation: preloader_3_after 1.5s infinite ease-in-out;
}
@keyframes preloader_3_before {
    0% {transform: translateX(0px) rotate(0deg)}
    50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#2ecc71;border-radius:0px;}
    100% {transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_3_after {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#9b59b6;border-radius:0px;}
    100% {transform: translateX(0px)}
}

.box{
    display: none;
}
nav{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    background: #fff;
    z-index: 10;
}
nav ul{
    float: left;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    float: left;
    /*width: 100px;*/
    padding: 0 25px;
    height: 50px;
    color: black;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
nav ul li a:hover{
    color: #0BB20C;
}
nav .login{
    float: right;
    width: 100px;
    height: 30px;
    margin: 10px 50px;
    border-radius: 15px;
    border: 1px solid #0BB20C;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #0BB20C;
}
nav .search{
    position: relative;
    float: right;
}
nav .search input{
    width: 200px;
    height: 30px;
    margin: 10px auto;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    text-indent: 10px;
}
nav .search .search_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACbklEQVRYR8WW4VUbMRCERxXgVAB0QCogVECoIFABkwpCKvCkgpgKAhUkHWAqgA5CKlDe3JP85PPp7nwYo1/mndB+2h3tTsA7r7BNfJInIYQDAEcAnv2/McZHSS/bnFPuHQQg6WDfAHxKgbtiLUMIixjj7bYwVQCSMwBzAJcp4iOAOwB/CgLDnQD4DOAwZeWrJO8btToBnGoAv9KNbwHcSGpSXlskDaEEspB0NYZgAyAF/w3A3y63uY0DklwA+OJsSboYglgDSGl/APDBNZe0HDqg6ztJZ+IawA9J7DujDZDpryT59+RF0jo4B3AmqdTN2pkrgKT2JwBWchbeawAsYuvmQdJZ7aASIN/+eEhwY6lI3qQn/LFWzhLAtC+S/AJ2spKgranvkgyzsRqAMRunEpH0xZ4luZFVAfzRT69XMFMgSFqAh5KO+wAsup9vBNBoS1Jn08sleOsMnI4FePX7b6c5lWBWE3fOgN/s3131gBKCZARwL8mzoluE6SW47R7UxDJRgA7qoVbNbNkH3LM9fndWhpR+95Wjmk8oAVwGZ8Epc+ea7HJSRrOwewdSexjllI0apbWypLniDvjPhqXvMl1+IM+E0aaiJTq7JNfdqR9sbDVHlCFckouxwym5Ijc0l9Nr8BJ9njCbiuagEMLdfD6/73jnsxDCeYzR3dR1d9pdSv9tZ9QL0euKSfpAT7HTInBpLnzTPD0d2Jmzf2wEXNizKsSgLS+mpW+VrbkdsJedsqed3Y+Fu/FyCgiDu5xre0YBTGlCLWGWmrIwVxB7AWiVw8JeQewNoAaxV4AWRNPy9w5QtOmltfAuAKVA/wMGOCAwXnkwVwAAAABJRU5ErkJggg==")  no-repeat center center;
    outline: none;
    cursor: pointer;
    background-size: 20px;
    border-style: none;
}
.banner{
    min-width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.banner img{
    width: 100%;
    min-width: 1200px;
    height: auto;
}

.item_gruop{
    width: 1280px;
    margin: 0 auto;
}
.left_group{
    float: left;
    width: 960px;
}
.content{
    width: 960px;
    float: left;
    background: #fff;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.content_title{
    padding: 10px 20px 0;
    line-height: 40px;
    color: #484848;
}
.content_title h3{
    border-bottom: 1px solid #eee;
}
.content_title b{
    display: inline-block;
    border-bottom: 2px solid #484848;
}
.content_group{
    padding: 0 20px;
    float: left;
}
.content ul li{
    position: relative;
    float: left;
    width: 306px;
    height: 316px;
    background: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}
.content ul li a{
    display: block;
    padding: 20px;
    overflow: hidden;
}
.content ul  .border_right_none{
    border-right: none;
}
.content ul li a .content_img {
    width: 264px;
    height: 140px;
    overflow: hidden;
    border-radius: 5px;
}
.content ul li a .content_img:before {
    bottom: 154px;
    content: "";
    display: block;
    height: 70%;
    width: 264px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
    border-radius: 5px;
}
.content ul li a .content_img:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 160%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    /*background: black;*/
    content: '';
    z-index: 1;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
}

.content ul li a .content_img img{
    width: 284px;
    height: 140px;
    transition: transform 0.6s ease 0s;
    transform: scale(1);
    transition-timing-function: ease !important;
    border-radius: 5px;
}
.content ul li:hover a .content_img:after {
    transition: transform 0.7s ease 0s;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
}
.content ul li:hover a img {
    display: block;
    transform: scale(1.2);
}
.content .content_box{
    position: absolute;
    z-index: 2;
    width: 264px;
}
.content ul li a h3{
    margin: 10px auto;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content ul li a .content_text{
    font-size: 14px;
    color: #999;
    margin: 18px auto;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.content ul li a .content_look{
    margin-top: 10px;
    font-size: 12px;
    color: #04ac71;
}
.right_group{
    float: left;
    width: 300px;
    min-height: 415px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
}
.newest_box{
    background: #fff;
    padding: 12px 12px;
    border-radius: 5px;
}
.right_group_title{
    line-height: 40px;
    color: #484848;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.right_group_title b{
    display: inline-block;
    border-bottom: 2px solid #484848;
}
.newest_box ul li{
    padding: 0 10px 5px;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
}
.newest_box ul li a{
    color: #666;
    position: relative;
    font-size: 12px;
    display: block;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f6f6f6;
    padding: 4px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hotspot{
    background: #fff;
    padding: 12px 12px;
    border-radius: 5px;
    margin-top: 20px;
}
.hotspot ul li a{
    background: #fff;
    display: block;
    padding: 4px 12px;
    overflow: hidden;
    color: #333;
    border-bottom: 1px solid #eee;
}
.hotspot ul li a div{
    color: #999;
    font-size: 12px;
    line-height: 18px;
    margin-top: 6px;
    margin-bottom: 16px;
}
footer{
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    background: #666;
    margin-top: 50px;
}
footer p{
   margin-top: 4px;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}

.login_content{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    z-index: 1000;
    display: none;
}
.login_box{
    position: relative;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    margin: 300px auto;
}
.login_close{
    position: absolute;
    top:15px;
    right:30px;
    cursor: pointer;
    font-size: 18px;
}
.login_in{
    height: 300px;
}
h1{
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 10px;
    font-weight: 100;
    margin-top:10px;
}
.login_box input{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    text-indent: 12px;
    border: 1px solid #ccc;
}

.user_name{
    margin: 20px 75px;
}
.password{
    margin: 0 75px 20px;
}
.login_box .login_btn{
    width: 250px;
    height: 40px;
    margin: 10px 75px;
    background: #0f88eb;
    color: #fff;
    outline: none;
    letter-spacing: 5px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
}
.no_acc{
    float: right;
    margin: 7px 20px ;
    cursor: pointer;
}
.register{
    display: none;
    height: 355px;
}
.back_login{
    float: left;
    margin: 0 20px ;
    cursor: pointer;
}

.owl-login{
    width: 211px;
    height: 108px;
    background-image: url("../img/owl-login.png");
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -111px;
}
.eye_left{
    position: absolute;
    top:67px;
    left: 77px;
}
.eye_right{
    position: absolute;
    top:67px;
    left: 132px;
}

.owl-login .hand {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: #472d20;
    -webkit-transform: scaleY(0.6);
    -moz-transform: scaleY(0.6);
    -o-transform: scaleY(0.6);
    -ms-transform: scaleY(0.6);
    transform: scaleY(0.6);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    position: absolute;
    left: 14px;
    bottom: -8px;
}
.owl-login .hand.hand-r {
    left: 170px;
}
.owl-login.password .hand{
    -webkit-transform: translateX(42px) translateY(-15px) scale(0.7);
    -moz-transform: translateX(42px) translateY(-15px) scale(0.7);
    -o-transform: translateX(42px) translateY(-15px) scale(0.7);
    -ms-transform: translateX(42px) translateY(-15px) scale(0.7);
    transform: translateX(42px) translateY(-15px) scale(0.7);
}
.owl-login.password .hand.hand-r{
    -webkit-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -moz-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -o-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -ms-transform: translateX(-42px) translateY(-15px) scale(0.7);
    transform: translateX(-42px) translateY(-15px) scale(0.7);
}
.owl-login .arms{
    top: 58px;
    position: absolute;
    width: 100%;
    height: 41px;
    overflow: hidden;
}
.owl-login .arms .arm{
    width: 40px;
    height: 65px;
    position: absolute;
    left: 20px;
    top: 40px;
    background-image: url("../img/owl-login-arm.png");
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.owl-login .arms .arm.arm-r{
    -webkit-transform: rotate(20deg) scaleX(-1);
    -moz-transform: rotate(20deg) scaleX(-1);
    -o-transform: rotate(20deg) scaleX(-1);
    -ms-transform: rotate(20deg) scaleX(-1);
    transform: rotate(20deg) scaleX(-1);
    left: 158px;
}
.owl-login.password .arms .arm{
    -webkit-transform: translateY(-40px) translateX(40px);
    -moz-transform: translateY(-40px) translateX(40px);
    -o-transform: translateY(-40px) translateX(40px);
    -ms-transform: translateY(-40px) translateX(40px);
    transform: translateY(-40px) translateX(40px);
}
.owl-login.password .arms .arm.arm-r{
    -webkit-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -moz-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -o-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -ms-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    transform: translateY(-40px) translateX(-40px) scaleX(-1);
}


